
/* font color: #404040 */
body{
    color:#404040
}

h1, h2, h3, h4, h5, .navbar-brand {
    font-family: 'Graduate', cursive;
}

h1 {
    font-size: 4em;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron-fluid {
    background-image: url('../img/machine-madness2.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    position: fixed;
}

.navbar-brand {
    color:#404040;
}